


<div class="page-header">
	<h3><%= @tweet.text %><br/> <small>Tweeted by <%= @tweet.user.email %></small></h3>
</div>

<% if @tweet.user == current_user %>
	<%= link_to 'Edit', edit_tweet_path(@tweet), class:"btn btn-default"%>
	<%= link_to 'Destroy', @tweet, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
<% end %>
	<%= link_to 'Back', tweets_path, class:"btn btn-default" %>

	<div class="btn-group pull-right">
  <%= link_to like_tweet_path(@tweet), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Like
    <%= @tweet.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_tweet_path(@tweet), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-down">
    Dislike
    <%= @tweet.get_downvotes.size %>
  <% end %>
</div>

<h2 class="comments_title">
  <small><%= @tweet.comments.count %> Comments</small>
</h2>

<div id="comments">
  <%= render :partial => @tweet.comments %>
</div>
<%= simple_form_for [@tweet, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
