<!DOCTYPE html>
<html>
<head>
  <title>MyTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if user_signed_in? %>
		<ul>
			<li class="navbar_buttons" ><%= link_to 'New Tweet', new_tweet_path %></li>
			<li class="navbar_buttons"><%= link_to 'User settings', edit_user_registration_path %></li>
			<li class="navbar_buttons"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
		</ul>
	<% else %>
		<ul>
			<li class="navbar_buttons" ><%= link_to 'New Tweet', new_tweet_path %></li>
			<li class="navbar_buttons"><%= link_to 'User settings', edit_user_registration_path %></li>
			<li class="navbar_buttons"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
		</ul>
	<% end %>

<%flash[:alert] = "Successfully Logged in..."%>
 
<%= yield %>

</body>
</html>
